<?xml version="1.0" encoding="UTF-8" ?>
<!--MyBatis配置文件-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cksc.dao.mapper.FocusMapper">
    <resultMap id="focusMap" type="com.cksc.dao.pojo.Focus" >
        <id column="fid" property="fid" jdbcType="BIGINT" />
        <result column="fs_uid" property="fsUid" jdbcType="BIGINT" />
        <result column="fr_uid" property="frUid" jdbcType="BIGINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <select id="getUserFocusList" resultMap="focusMap">
        select * from ms_focus
        <where>
            1 = 1
            <if test="fsUid != null">
                and fs_uid=#{fsUid}
            </if>
            <if test="nickname != null">
                and fr_uid in (select id from ms_sys_user where nickname like "%"#{nickname}"%")
            </if>
        </where>
        order by create_time desc
    </select>
</mapper>